
[Unit]
Description=roysciclisimo daemon
After=network.target

[Service]
PIDFile=/opt/cadizm/var/run/roysciclisimo.pid
ExecStart=/opt/cadizm/bin/roysciclisimod
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
